@use './partials/variables' as *;

@use './partials/mixins' as *;

// inclusione font-awesome
@use "@fortawesome/fontawesome-free/css/all.min.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: $main-font, sans-serif;
}

a {
    text-decoration: none;
    color: inherit
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

.button {
    padding: 15px 30px;
    border-radius: 0 20px;
    font-weight: bold;
}

button {
    font-family: inherit;
    border: 0;
    cursor: pointer;
    transition: background-color $time;

}

.green_bg {
    background-color: $green;
    color: $white;

    // &:hover {
    //     background-color: $orange;
    //     transition-duration: 0.8s;
    // }
}

.orange_bg {
    background-color: $orange;
    color: $white;

    // &:hover {
    //     background-color: $green;
    //     transition-duration: 0.8s;
    // }
}



.green_txt {
    color: $green;
}

.orange_txt {
    color: $orange;
}

.d_block {
    display: block;
}